@mixin clearfix {
  &::before,
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin full-width-background {
  position: relative;

  &::before,
  &::after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 9999px;
  }

  &::before {
    left: 100%;
  }

  &::after {
    right: 100%;
  }
}

@mixin link-arrow {
  position: relative;
  padding-left: 2em;

  &::before {
    content: '→';
    left: 0;
    position: absolute;
  }
}

@mixin bulleted-list {
  padding-left: 1em;

  li {
    list-style: disc;
  }
}

@mixin shadow-gray {
  box-shadow: -10px 10px 0 0 $color-shadow;

  @include tablet {
    box-shadow: -20px 20px 0 0 $color-shadow;
  }
}


@mixin shadow-yellow {
  box-shadow: -10px 10px 0 0 $color-lemon;

  @include tablet {
    box-shadow: -20px 20px 0 0 $color-lemon;
  }
}
